doctype html
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
html.flexbox.no-js(lang='en')

  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    //- Modernizr
    script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    
    //- Primary stylesheet
    style
      @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
      @import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
      @import url("./assets/css/urlaubsgluck-styles.css")
      //- @import url("assets/css/urlaubsgluck-styles.min.css")
    

  body(itemscope, itemtype='http://schema.org/WebPage').prj-body
    include ./template-helpers/fakedata.jade
    include ./template-helpers/mixins.jade


    header.prj-header
      div.prj-header__content
        +logo('header-desktop')
        .prj-user-actions
          button.prj-user-actions__login Log in
          button.prj-user-actions__signup Sign up


    section.prj-first-screen
      div.prj-first-screen__content
        +logo('header-mobile')
        h1.prj-first-screen__title Share your holiday dreams
        h2.prj-first-screen__sub-title And find the perfect partner to fullfill it
        button.prj-first-screen__action Find your holiday partner


    section.uv-sec
      header.uv-sec__header
        h2.uv-sec__title How Urlaubsglück works?

      div.uv-sec__main
        - var priCount = 0;
        ul.prj-steps-list-pri
          while priCount < 3
            - priCount++; 
            - var secCount = 0;
            li.prj-steps-list-pri__unit
              ul.prj-steps-list-sec
                while secCount < 3
                  - secCount++;
                  li.prj-steps-list-sec__unit
                    a(class="prj-step prj-step--#{priCount}" href="#")
                      span.prj-step__status Step #{priCount}
                      h3.prj-step__title= steps[priCount * secCount].title
                      p.prj-step__description= steps[priCount * secCount].description



    section.uv-sec
      header.uv-sec__header
        h2.uv-sec__title Meet a partner for your best holiday

      div.uv-sec__main
        ul.prj-partners-list
          - var counter = 0;
          while counter < 4
            - counter++;
            li.prj-partners-list__unit
              article.prj-partner
                aside.prj-partner__photo
                  span(class="prj-partner__mark icon_#{partners[counter].icon_type}"
                       style="background-color: #{partners[counter].icon_color}")
                  img(src="./assets/img/partner-#{counter}.png")
                h3.prj-partner__title= partners[counter].full_name
                p.prj-partner__description= partners[counter].description

      footer.prj-partners-list__load-more-wrapper
        button.prj-partners-list__load-more See other partners
    

    section.uv-sec
      header.uv-sec__header
        h2.uv-sec__title Discover holiday activity ideas


      div.uv-sec__main
        ul.prj-categories-list
          - var categories = [{name: "Sport and Activity", large: false}, {name: "Wellnes and Health", large: false}, {name: "Extreme Sports and Expeditions", large: false}, {name: "Games", large: false}, {name: "Culture and Education", large: true}, {name: "Relaxation", large: true}, {name: "Travelling", large: false}]
          each category, index in categories
            - var largeCls = category.large == true ? 'prj-categories-list__unit--L' : '';
            li(class="prj-categories-list__unit #{largeCls}")
              a(class="prj-category prj-category--#{(index + 1)}" href="#")
                h3.prj-category__title= category.name

                  






    section.uv-sec
      header.uv-sec__header
        h2.uv-sec__title Discover holiday activity ideas

      div.uv-sec__main
        .prj-search-interests
          h3.prj-search-interests__title Hi! What are your holiday interests?
 
          form.prj-search-interests__form
            input.prj-search-interests__input(placeholder="Enter your interests")
            button.prj-search-interests__submit Search partners


  

    footer.prj-footer
      .prj-footer__content
        .prj-footer__column.prj-footer__column--logo
          .prj-logo.prj-logo--footer URLAUBSGLÜCK

        .prj-footer__column.prj-footer__column--links
          .prj-useful-links
            h4.prj-useful-links__title Company
            ul.prj-useful-links__list
              li.prj-useful-links__list-unit
                a.prj-useful-link(href="#") About
              li.prj-useful-links__list-unit
                a.prj-useful-link(href="#") Contacts
              li.prj-useful-links__list-unit
                a.prj-useful-link(href="#") Press
              li.prj-useful-links__list-unit
                a.prj-useful-link(href="#") Blog

        .prj-footer__column.prj-footer__column--links
          .prj-useful-links
            h4.prj-useful-links__title Partners


        .prj-footer__column.prj-footer__column--empty


        .prj-footer__column.prj-footer__column--copyright
          .prj-copyright
            span.prj-copyright__caption Designed by
            span.prj-copyright__logo Areto Development







    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='assets/js/urlaubsgluck-plugins.js')
    script(src='assets/js/urlaubsgluck-scripts.js')
    // script(src='assets/js/urlaubsgluck-plugins.min.js')
    // script(src='assets/js/urlaubsgluck-scripts.min.js')

